html, body, h1, h2 {
	margin:  0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size:   small;
	background:  #579 url('/img/background.jpg') no-repeat center fixed;
}

.container {
	margin:    0 auto;
	min-width: 480px;
	max-width: 1600px;
}

.title {
	margin:      1em 0;
	padding:     0.25em 0.5em;
	font-size:   250%;
	color:       #fff;
	text-shadow: 4px 2px 10px #f00;
	text-align:  center;
	background:  rgba(0, 0, 0, 0.8);
	box-shadow:  0 0 10px #000;
}

.killtable {
	width:           100%;
	background:      rgba(0, 0, 0, 0.8);
	color:           #fff;
	border-collapse: collapse;
	cursor:          default;
	box-shadow:      0 0 10px #000;
}

.killtable thead {
	border-bottom: 1px solid #999;
}

.killtable tbody {
	font-size: 90%;
}

.killtable th {
	font-weight: bold;
	padding:     0.1em 0.5em;
	text-align:  left;
}

.killtable td {
	padding:    0.1em 0.5em;
}

.killtable td a {
	color:           #fff;
	text-decoration: none;
}

.killtable td a:hover {
	text-decoration: underline;
}

.killtable tbody tr:nth-child(even) td {
	background: rgba(50, 50, 50, 0.4);
}

.killtable tbody tr:hover td {
	background: rgba(100, 100, 100, 0.8);
}

.victim-corp {
	color: #c97;
}